<% if locals[:summarize] %>
  <%= render 'case_files/summarize', case_file: large_unfilled_order_case %>
<% else %>
  <div class = "span12">
    <script type="text/javascript"> $(function() {
      new Highcharts.Chart({
        chart: {
          renderTo: 'events_chart',
          backgroundColor: null,
          type: 'column',
        },
        title: {
          style: {
            color: "#FFF"
          },
          text: 'Avg Order Qty vs. Flagged Order'
        },
        credits: {
          enabled: false
        },
        xAxis: {
          categories: [
            'Avg. order', 'Unfilled order'
          ],
          labels: {
            style: {
              color: '#CCC',
            }
          }
        },
        yAxis: {
          type: 'logarithmic',
          lineWidth: 0,
          gridLineWidth: 0.5,
          gridLineDashStyle: 'dot',
          minorGridLineWidth: 0,
          lineColor: 'transparent',
          title: {
            text: "Size"
          },
          labels: {
            style: {
              color: '#FFF',
            }
          }
        },
        series: [{
          name: 'Size',
          data: [<%= content['avg-order-size'] %>,
                 <%= "#{ content['order']['order-qty'] } - " +
                     "#{content['order']['cumulative-qty'] }" %>]
        }]
      })
    });</script>
    <div id="events_chart" style="width:940px; height:425px;"></div>
  </div>
  <div class = "span12">
    <% if content %>
    Average order size: <%= content['avg-order-size'] %>
    <div class="accordion" id="events">
      <div class="accordion-group">
        <div id="event_list" class="accordion-body collapse in">
          <div class="accordion-inner">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th></th>
                  <th>Participant</th>
                  <th>Order State</th>
                  <th>Side</th>
                  <th>Size Remaining</th>
                  <th>Symbol</th>
                  <th>Price</th>
                  <th>Transact Time</th>
                  <th>Client Order Id</th>
                </tr>
              </thead>
              <tbody>
                <% o = content['order'] %>
                  <tr class="main">
                    <td>
                      <span class = "expand" style="font-weight:bold">
                        <a href='#' onclick="return false;">+</a></span>
                    </td>
                    <td>
                      <%= o['customer-name'] %>
                    </td>
                    <td><%= o['order-status'] %></td>
                    <td><%= o['side'] %></td>

                    <% if o['order-status'] == "new" %>
                      <td><%= o['order-qty'] %></td>
                    <% elsif o['order-status'] == "canceled" %>
                      <td>
                        <%= "#{ o['order-qty'] - o['cumulative-qty'] }" %>
                      </td>
                    <% elsif ['filled', 'partial-fill'].include?(
                                                          o['order-status']) %>
                      <td><%= "#{ o['last-share'] }" %></td>
                    <% end %>

                    <td><%= o['symbol'] %></td>

                    <% if ['new', 'canceled'].include? o['order-status'] %>
                      <td><%= o['price'] %></td>
                    <% elsif ['filled', 'partial-fill'].include?(
                                                          o['order-status']) %>
                      <td><%= o['last-price'] %></td>
                    <% end %>
                    <td><%= Time.zone.parse(o['transact-time']) %></td>
                    <td><%= o['client-order-id'] %></td>
                  </tr>
                  <tr class="hidden">
                    <td colspan="2" style="vertical-align:middle">
                      Order Details
                    </td>
                    <td colspan="5">
                      <table class="table table-bordered table-striped
                                    table-hover">
                        <tbody>
                          <% o.each do |k, v| %>
                          <tr>
                            <td><%= k.to_s.gsub('-', ' ').capitalize %></td>
                            <td><%= v.to_s %></td>
                          </tr>
                          <% end %>
                        </tbody>
                      </table>
                    </td>
                    <td colspan="2" style="vertical-align:middle;border-left:0">
                  </tr>
              </tbody>
            </table>
           </div>
        </div>
      </div>
    </div>
    <% else %>
      <div class="well-small">
        <span style="color:red">No Events Found</span>
      </div>
    <% end %>
  </div>
<% end %>