<% if locals[:summarize] %>
  <%= render "case_files/summarize", case_file: layering,
                                     content: JSON.parse(layering.content,
                                                symbolize_names: true) %>
<% else %>
  <div class = "span8">
      <h3>Graph goes here</h3>
  </div>
  <div class = "span4">
    <div class = "well-small">
      <p><%= render "case_profile", case_file: @case_file,
                                    content: @case_content %></p> 
    </div>
  </div>
  <div class = "span12">
    <h4>Layering Orders</h4>
    <% if content.has_key?(:orders) %>
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>Participant</th>
            <th>Order State</th>
            <th>Side</th>
            <th>Size</th>
            <th>Symbol</th>
            <th>Price</th>
            <th>Transact Time</th>
            <th>Client Order Id</th>
          </tr>
        </thead>
        <tbody>
          <% content[:orders].each do |o| %>
            <tr>
              <td><%= o[:participant] %></td>
              <td><%= o[:status] %></td>
              <td><%= o[:side] %></td>
              <td><%= o[:size] %></td>          
              <td><%= o[:symbol] %></td>
              <td><%= o[:price] %></td>
              <td><%= o[:transact_time] %></td>
              <td><%= o[:client_order_id] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <strong>No Orders Found</strong>
    <% end %>
    <h4>Case History</h4>
    <ol class="actions">
      <%= render @actions %>
    </ol>
    <%= will_paginate @actions %>
  </div>
<% end %>
