<span class="content">
  <% if ['Generate'].include? action.type %>
    <strong>Last Action</strong>: <%= action.desc %>.
    <blockquote></blockquote>
  <% else %>
    <strong>Last Action</strong>: <%= action.user.name %> <%= action.desc %>.
    <% if ['Comment', 'Transfer', 'PendingClose', 'Close'].include?(
        action.type) %>
      <blockquote>
        Comment: <%= action.content.gsub("\n",'<br />').html_safe %>
      </blockquote>
    <% elsif ['RejectClose', 'Reopen'].include? action.type %>
      <blockquote>
        Reason: <%= action.content.gsub("\n",'<br />').html_safe %>
      </blockquote>
    <% else %>
      <blockquote></blockquote>
    <% end %>
  <% end %>
  <span class="timestamp">
    Occured <%= time_ago_in_words(action.created_at) %> ago.
  </span>
</span>

