<tr>
<div class="accordian-group">
  <div class="accordian-heading">
    <div style="margin-left:0">
      <td>
    <%= link_to desc[:name], "#" + incident_monitor.id.to_s,
        "data-toggle" => "collapse", "data-parent" => "monitors",
        class: "accordian-toggle" %>
      </td>
    </div>
    <div>
      <td>
        <% if active %>
          <span style="color:YellowGreen">Active</span>
        <% else %>
          <span style="color:Red">Inactive</span>
        <% end %>
      </td>
    </div>
  </div>
</tr>
<tr>
  <td colspan="2">
  <div id="<%= incident_monitor.id.to_s %>" class="accordian-body collapse">
    <div class="accordian-inner">
          <table class="table summary no-hover">
    <tbody>
    <tr>
      <td>
        <span class="content">
        <div class="span5_5" style="margin-left:0px;">
          <div class="well-small">
            <%= desc[:info]%>
          </div>
        </div>
      </td>
      <td><%= render "setting", settings: settings %></td>
    </tr>
    <tr>
      <td></td>
      <td>
      <span class="pull-right" style="margin-top:-20px">
        <%= link_to "Edit Settings", incident_monitor_path(incident_monitor),
              class: "btn btn-primary btn-small" %>
      </span>
      </td>
    </tr>
  </tbody>
  </table>
    </div>
  </div>
</div>
</td>
</tr>
  
